<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <div class="panel">
        <div class="panel-heading">
          <div class="row">
            <div class="col-sm-12 col-xs-12">
              <div class ="col-md-12">
                <span>
                <button type="button" (click)="getUsers(true)" class="btn btn-light"  data-toggle="tab" href="#users">
                  <i class="fa fa-users"></i>
                  Users
                </button>
                  </span>
                <button (click)="getReport()" type="button" class="btn btn-primary">Get Report</button>
                <button  (click)="printReport()" type="button" class="btn btn-primary">Print Report</button>
                <span>
                <button type="button" class="btn btn-light" id="welcome" data-toggle="tab" routerLink="/user/profile">

                  <i class="fa fa-user"></i>
                  Welcome {{user?.firstName}}
                </button>
                  </span>
              </div>
            </div>
          </div>
          <hr style="color: #FFFFFF">
          <div class="row">
            <div class="col-sm-12 col-xs-12">
              <div class ="col-md-12">
          <div class="tab-pane fade show active">
            <div class="mb-3 float-right">
              <div class="btn-group mr-2">
                <form #searchForm="ngForm" class="form-inline my-2 my-lg-0 justify-content-center">
                  <input name="attributes" class="form-control mr=sm-2" ngModel (ngModelChange)="searchUsers(searchForm.value.attributes)"
                         type="search" placeholder="Search users...">
                </form>
                <button [hidden]="isUser" type="button" class="btn btn-info" data-toggle="modal" data-target="#addUserModal">
                  <i class="fa fa-plus"></i> New User
                </button>
              </div>
            </div>
          </div>
              </div>
            </div>
          </div>
        </div><br>

        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
        <hr>

        <div class="container bootstrap snippets bootdey">
          <div class="row">
            <div class="col-lg-12">
              <div class="main-box no-header clearfix">
                <div class="main-box-body clearfix">
                  <div class="table-responsive">
                    <table class="table user-list" id="users">
                      <thead>
                      <tr>
                        <th>Photo</th>
                        <th>Full name</th>
                        <th>User Id</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Action</th>
                        <th>&nbsp;</th>
                      </tr>
                      </thead>
                      <tbody *ngFor="let appUser of users">
                      <tr>
                        <td>
                          <img src="https://bootdey.com/img/Content/user_1.jpg" alt="">
                        </td>
                        <td (click)="selectUser(appUser)"> {{appUser?.firstName}} {{appUser?.lastName}}</td>
                        <td (click)="selectUser(appUser)">{{appUser?.userIdNumber}}</td>
                        <td (click)="selectUser(appUser)">{{appUser?.username}}</td>
                        <td (click)="selectUser(appUser)">{{appUser?.email}}</td>
                        <td>
                          <span [hidden]="appUser.isActive" class="badge badge-success">Active</span>
                          <span [hidden]="!appUser.isActive" class="badge badge-danger">Inactive</span>
                        </td>
                        <td style="width: 20%;">
                          <button (click)="onUpdateUser(appUser)" class="table-link text-info" id="blue">
                            <span class="fa-stack" >
                              <i class="fa fa-square fa-stack-2x"></i>
                              <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                            </span>
                          </button>
                          <button [disabled]="isModerator" [hidden]="isUser" (click)="onDeleteUser(appUser.id)" class="table-link danger">
                            <span class="fa-stack">
                              <i class="fa fa-square fa-stack-2x"></i>
                              <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                            </span>
                          </button>
                        </td>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<button [hidden]="true" type="button" id="openUserInfo" data-toggle="modal" data-target="#viewUserModal"></button>
<button [hidden]="true" type="button" id="openUserUpdate" data-toggle="modal" data-target="#updateUserModal"></button>

<!--info user modal-->
<div id="viewUserModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{selectedUser?.firstName}} {{selectedUser?.lastName}}</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="d-flex justify-content-center align-items-center rounded">
          <img class="rounded" height="160" width="160" src="https://bootdey.com/img/Content/user_1.jpg" alt="image">
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Name and Surname</label>
            <p class="mb-1">{{selectedUser?.firstName}} {{selectedUser?.lastName}}</p>
          </div>
          <div class="form-group">
            <label>User Id</label>
            <p class="mb-1">{{selectedUser?.userIdNumber}}</p>
          </div>
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
              <div class="form-group">
                <label>Email</label>
                <p class="mb-1">{{selectedUser?.email}}</p>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
              <div class="form-group">
                <label>Role</label>
                <p class="mb-1">{{selectedUser?.rolePermissions.substring(5)}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                <div *ngIf="selectedUser?.lastLoginDisplay" class="form-group">
                  <p class="text-muted"><small>Last login: {{selectedUser?.lastLoginDisplay | date: 'medium'}}</small></p>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                <div class="form-group">
                  <p class="text-muted"><small>Registration date: {{selectedUser?.registrationDate | date: 'medium'}}</small></p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                <div class="form-group">
                  <span [hidden]="selectedUser?.isActive" class="badge badge-success">Account Active</span>
                  <span [hidden]="!selectedUser?.isActive" class="badge badge-danger">Account Inactive</span>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                <div class="form-group">
                  <span [hidden]="selectedUser?.isNonLocked" class="badge badge-success">Account non locked</span>
                  <span [hidden]="!selectedUser?.isNonLocked" class="badge badge-danger">Account locked</span>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-warning" id="closeViewModal" data-dismiss="modal">
              Back
            </button>
          </div>
        </div>
    </div>
  </div>
</div>

<!--add user modal-->
<div [hidden]="isUser" id="addUserModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add user</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <form #userForm="ngForm" (ngSubmit)="saveNewUser(userForm, userForm.value)">
          <div class="form-group">
            <label>First name</label>
            <input type="text"  name="firstName" ngModel class="form-control" required >
          </div>
          <div class="form-group">
            <label>Last name</label>
            <input type="text"  ngModel name="lastName" class="form-control" required >
          </div>
          <div class="row">
            <div class="form-group">
              <label>Email</label>
              <input type="email" ngModel name="email" class="form-control" required >
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <label>Password</label>
              <input type="password" ngModel name="password" class="form-control" required >
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <label>Username</label>
              <input type="text" ngModel name="username" class="form-control" required >
            </div>
          </div>
          <div class="row">
            <div *ngIf="isAdmin || isModerator" class="form-group">
              <label>Role</label>
              <select name="rolePermissions" ngModel="ROLE_ADMIN" class="form-control" required>
                <option value="ROLE_ADMIN">ADMIN</option>
                <option value="ROLE_MODERATOR">MODERATOR</option>
                <option value="ROLE_USER">USER</option>
              </select>
            </div>
          </div>
          <fieldset class="form-group">
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" name="isActive" ngModel class="form-check-input">
                Active
              </label>
            </div>
            <div class="form-check disabled">
              <label class="form-check-label">
                <input type="checkbox" name="isNonLocked" ngModel class="form-check-input">
                Unlocked
              </label>
            </div>
          </fieldset>
          <div class="modal-footer">
            <button type="button" class="btn btn-warning" id="closeModal" data-dismiss="modal">
              Cancel
            </button>
            <button type="submit" [disabled]="userForm.invalid" class="btn btn-success"> Save user</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--update user modal-->
<div id="updateUserModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Update {{editUser?.firstName}} {{editUser?.lastName}} <small [hidden]="isModerator || isAdmin">(read only)</small></h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <form #updateUserForm="ngForm" (ngSubmit)="updateCurrentUser(updateUserForm.value)">
          <div class="form-group">
            <label>First name</label>
            <input type="text"  name="firstName" [(ngModel)]="editUser.firstName" [disabled]="isUser" class="form-control" required >
          </div>
          <div class="form-group">
            <label>Last name</label>
            <input type="text" [(ngModel)]="editUser.lastName" name="lastName" [disabled]="isUser" class="form-control" required >
          </div>
          <div class="row">
            <div class="form-group">
              <label>Email</label>
              <input type="email" [(ngModel)]="editUser.email" name="email" [disabled]="!isModerator" class="form-control" required >
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <label>Username</label>
              <input type="text" [(ngModel)]="editUser.username" name="username" [disabled]="!isModerator" class="form-control" required >
            </div>
          </div>
          <div class="row">
            <div *ngIf="isAdmin" class="form-group">
              <label><b>Role</b></label>
              <select name="rolePermissions" [(ngModel)]="editUser.rolePermissions" class="form-control" required>
                <option value="ROLE_ADMIN">ADMIN</option>
                <option value="ROLE_MODERATOR">MODERATOR</option>
                <option value="ROLE_USER">USER</option>
              </select>
            </div>
          </div>
          <fieldset class="form-group">
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" name="isActive" [disabled]="isUser" [(ngModel)]="editUser.isActive" class="form-check-input">
                Active <small [hidden]="isModerator">(read only)</small>
              </label>
            </div>
            <div class="form-check disabled">
              <label class="form-check-label">
                <input type="checkbox" name="isNonLocked" [disabled]="isUser" [(ngModel)]="editUser.isNonLocked" class="form-check-input">
                Unlocked <small [hidden]="isModerator">(read only)</small>
              </label>
            </div>
          </fieldset>
          <div class="modal-footer">
            <button type="button" class="btn btn-warning" id="closeUpdateModal" data-dismiss="modal">
              Cancel
            </button>
            <button type="submit" [disabled]="updateUserForm.invalid || isUser" class="btn btn-success"> Update user</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
